.nav {
    position: fixed;
    top:0;
    width: 65px;
    height: 100%;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 22px;
    color: #acadb1;
}

.nav__top i {
    margin-bottom: 35px;
}

.nav__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 110px;
}

.nav__bottom i {
    padding: 10px;
    margin: 2px;
}

.nav__bottom i:hover {
    background-color: #e1e1e3;
    border-radius: 50%;
}

.nav__click {
    color: var(--click);
}